{#
/**
 * @file moby_help_entity.html.twig
 * Default theme implementation to present Moby help entity data.
 *
 * This template is used when viewing Moby help entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_moby_help_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('moby_help_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
